body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background: linear-gradient(to bottom, #2a5298, #1e3c72);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  line-height: 2;
}

.container {
  text-align: center;
  position: relative;
  width: 100vw; /* Full width of the screen */
  height: 100vh; /* Full height of the screen */
}

.gate {
  position: absolute;
  top: 0;
  width: 50vw; /* Half of the screen's width */
  height: 100vh; /* Full height of the screen */
  background-size: cover;
  box-shadow: 0 0 10px #000;
  transition: transform 1s ease-in-out;
}

#gate-left, #gate-right {
  transition: transform 1s ease-in-out;
}

.open-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 24px;
  color: black;
  background: white;
  border: 3px solid #008000;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px #005500;
  z-index: 10;
}

.open-button:hover {
  box-shadow: 0 0 15px 5px #ffcc00;
  transform: translate(-50%, -50%) scale(1.1);
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  text-align: center;
  display: none;
}

.message h1 {
  font-size: 3rem;
  color: #ffcc00;
  margin: 0;
  opacity: 0;
  visibility: hidden;
}

.message p {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  transition: width 5s ease;
}
